<div class="container">
  <div class="row pt-3 justify-content-center">
    <div class="col-8">
      <h1>Add user</h1>
    </div>
  </div>
  <div class="row pt-5 justify-content-center">
    <div class="col-8">
      <dx-form #userForm [formData]="user" [colCount]="1" validationGroup="customerData">
        <dxi-item itemType="group" caption="User Information">
          <!-- <dxi-item dataField="id"></dxi-item> -->
          <dxi-item dataField="firstName" editorType="dxTextBox">
            <dxi-validation-rule type="required" message="firstName is required"> </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="lastName" editorType="dxTextBox">
            <dxi-validation-rule type="required" message="lastName is required"> </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="sex" editorType="dxSelectBox" [editorOptions]="{ items: ['MALE', 'FEMALE'] }">
            <dxi-validation-rule type="required" message="sex is required"> </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="age" editorType="dxNumberBox">
            <dxi-validation-rule type="required" message="age is required"> </dxi-validation-rule>
          </dxi-item>
        </dxi-item>
      </dx-form>
      <dx-load-panel
        #loadPanel
        shadingColor="rgba(0,0,0,0.4)"
        [position]="{ of: '#userForm' }"
        [(visible)]="loadingVisible"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false"
      >
      </dx-load-panel>
      <div class="row justify-content-start">
        <div class="col-4">
          <dx-button text="add new user" validationGroup="customerData" (click)="onSubmit()" type="success"></dx-button>
        </div>
      </div>
    </div>
  </div>
</div>
