<!-- <app-header></app-header> -->

<div class="container">
  <div class="row pt-3">
    <div class="col-8">
      <h1>Users list</h1>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-5">
      <dx-button text="Add user" routerLink="/add-edit" type="success"> </dx-button>
    </div>
    <div class="col-12 pt-2">
      <dx-data-grid
        [dataSource]="dataSource"
        [showColumnLines]="false"
        [showRowLines]="true"
        [rowAlternationEnabled]="true"
        [showBorders]="true"
        (onRowUpdating)="onRowUpdating($event)"
      >
        <dxo-editing
          mode="row"
          [allowAdding]="true"
          [allowUpdating]="true"
          [allowDeleting]="true"
          [useIcons]="true"
        ></dxo-editing>

        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]"> </dxo-pager>

        <dxo-search-panel [visible]="true"></dxo-search-panel>
      </dx-data-grid>
    </div>
  </div>
</div>
